:root {
    --primary-color: #2563eb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bae6fd;
}

/* Welcome Section  */

.intro,
.typography,
.container,
.lists,
.navbar,
.section,
.footer {
    margin: 20px;
}


/* typography */


/* container  */
.container h2 {
    text-align: center;
    margin: 10px 0px;
}

/* List  */

.lists .list-no-bullets li {
    list-style: none;
    margin: 5px;
}

.list-inline h1 {
    margin: 10px;
}

.list-inline li {
    list-style: none;
    display: inline;
    margin: 10px;
}

.List-Reversed {
    padding: 20px;
}



/* Navbar  */

.navbar {
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    padding: 20px;
    margin: 0px 5rem;
}

.active-link {
    font-weight: 600;
    color: #a3e635 !important;
}

.navlist li:hover {
    text-decoration: underline !important;
}

.brand_name {
    margin: 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.navlist {
    list-style: none;
    display: flex;
    text-align: right;
    justify-content: right;
    margin-right: 30px;
}



.navlist li {
    padding: 10px;
    margin: 0px 20px;
    font-size: 1.3rem;
    color: #e0f2fe;
    cursor: pointer;
}


/* Section  */

.line {
    width: 200px;
    margin: auto;
    border: 2px solid rgb(91, 87, 87);
    border-radius: 20px;
}

.heading_projects {
    text-align: center;
    margin: 60px 0 0 0;
}

.section {
    text-align: center;
    margin: 30px 80px;
    padding: 30px 30px;
    border-radius: 10px;
}

.section-white {
    background-color: white;
}

.section-gray {
    /* background-color: #f2ebeb; */
    background-color: #e5e5e5;
}

.section small {
    font-size: 1rem;
}

.section h3 {
    margin: 10px;
    font-size: 1.5rem;
}

.section p {
    font-size: 1.3rem;
    margin: 20px 0 10px 0;
}

.author {
    text-align: center;
    margin: 10px 80px 0px 80px;
    padding: 20px 30px 0px 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article {
    text-align: left;
}

.text {
    font-size: 1.2rem !important;
}

/* Header  */

.header {
    padding: 20px;
    margin: 60px auto;
    text-align: center;
}

.img {
    width: 30vw;
    /* border: 2px solid black; */
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 25px -5px black;
}

.header img {
    width: 25vw;
}


.header h3 {
    margin: 50px 0 0 0;
    font-size: 1.5rem;
}

.bold {
    color: var(--primary-color);
}


/* Links */

.link {
    text-decoration: none;
    color: #e0f2fe;
    cursor: pointer;
}

.links {
    margin: 30px;
}

.link-primary {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    font-size: 1rem;
}

.link-primary {
    text-decoration: none;
    color: white;
}

.link-secondary {
    border: 2px solid var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    font-size: 1rem;
}

.link-secondary {
    text-decoration: none;
    color: var(--primary-color);
}

.link-primary:hover {
    border: 2px solid var(--primary-color);
    background-color: white;
    cursor: pointer;
    transition: 0.5s;
}

.link-primary:hover {
    color: var(--primary-color);
    width: 100%;
    height: 100%;
}


.link-secondary:hover {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.link-secondary:hover {
    text-decoration: none;
    color: white;
}

.btn {
    min-width: 100px;
}

/* footer */

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0 80px;
}

.footer h3 {
    text-align: center;
}

.footer li {
    list-style: none;
    display: inline;
    padding: 20px;
}

.footer ul {
    text-align: center;
    margin: 20px 0 10px 0;
}

.footer li:hover {
    cursor: pointer;
}

article {
    min-height: 58.7vh;
    margin: 30px auto;
    width: 70vw;
}


@media screen and (max-width: 555px) {
    .navlist {
        list-style: none;
    }

    .section {
        margin: 30px 2.6rem;
        padding: 30px 30px;
        border-radius: 10px;
    }

    .link-primary,
    .link-secondary {
        display: block;
        max-width: 120px;
        min-width: 110px;
    }

    .navbar {
        width: 100%;
        padding: 20px;
        margin: 0px;
    }

    .navlist li {
        font-size: 1rem;
        color: #e0f2fe;
        cursor: pointer;
    }

    footer {
        margin: 0 10px;
    }

    .author {
        margin: 10px 20px 0px 20px;
    }

    .img {
        width: 40vw;
        height: 8rem;
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 10px;
    }

    .footer {
        margin: 0px;

    }

    footer ul {
        margin: 0px;
    }

    .link-primary,
    .link-secondary {
        margin: 10px 0px;
    }
}

@media screen and (max-width: 300px) {
    .links {
        margin: auto;
    }

    .navlist {
        display: inline;
    }
}

@media screen and (max-width: 750px) {
    article {
        width: 90vw;
    }
}