<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Component-Library</title>
</head>

<body>
    <div class="intro">
        <h1>This is niket UI Component Library</h1>
        <p>Hii I am <b><i><u>Niket Kumar Mishra</u></i></b>, I am persuing <u>B.Tech</u> Computer Science. Now I am
            making a component Library which would make all my projects looks good</p>
    </div>

    <hr>

    <h2># typography</h2>
    <div class="typography">
        <h1>This is the biggest heading</h1>
        <h2>This is the second biggest</h2>
        <p>let me show you the normal Font. this is a paragraph.</p>
        <p>The paragraph will have a <b>bold</b>, <i>italic</i>, <u>underline</u> and <q>quotation</q> tag</p>
        <small>This is a small tag</small>
    </div>

    <hr>

    <h1># Container</h1>
    <div class="container">
        <h2>Fluid Container</h2>
        <p>This is a fluid container and it will go till the end of the page</p>
        <h2>Center Container</h2>
        <p>This is a centered container and this will go till the specified width</p>
    </div>

    <hr>

    <h1># Lists</h1>
    <div class="lists">
        <div class="list-no-bullets">
            <h2>Unordered list</h2>
            <p>This List will not have the bullets</p>
            <ul>
                <li>List One</li>
                <li>List Two</li>
                <li>List Three</li>
            </ul>
        </div>
        <div class="list-inline">
            <h2>Unordered inline list</h2>
            <ul>
                <li>Item One</li>
                <li>Item Two</li>
                <li>Item Three</li>
            </ul>
        </div>
        <div class="List-Reversed">
            <h2>Reverse Ordered List</h2>
            <ol reversed>
                <li>List One</li>
                <li>List Two</li>
                <li>List Three</li>
            </ol>
        </div>
    </div>

    <hr>

    <h2># NavBar</h2>
    <nav class="navbar">
        <div class="brand_name">Niket Kumar Mishra</div>
        <ul class="navlist">
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>

    <hr>

    <h2># Sections</h2>
    <div class="section">
        <div class="section-white">
            <h3>White Section</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore laborum at beatae distinctio laudantium?
                Blanditiis harum totam voluptatibus reprehenderit mollitia error optio repellat, perspiciatis
                consectetur
                aut
                iure sed nisi rem.</p>
        </div>
        <div class="section-gray">
            <h3>Non-White Section</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque est non perspiciatis voluptate magni
                dolore
                distinctio tempora hic quae recusandae nulla, error commodi odio ipsum voluptates dignissimos assumenda
                nostrum
                amet!</p>
        </div>
    </div>

    <hr>

    <h2># Header</h2>
    <div class="header">
        <img src="../images/hero.svg" alt="Image">
        <h3>I am Niket, Coder and <span class="bold">The Web Developer</span></h3>
    </div>

    <hr>

    <h2># Links</h2>
    <div class="links">
        <span><a class="link-primary" href="/blogs.html">primary link </a></span>
        <span><a class="link-secondary" href="/blogs.html">seconadary link </a></span>
    </div>

    <hr>




    <h2># Footer</h2>
    <footer>
        <div class="footer">
            <h3>This is footer</h3>
            <ul>
                <li>SocialOne</li>
                <li>SocialTwo</li>
                <li>SocialThree</li>
            </ul>
        </div>
    </footer>
</body>

</html>